table{
	margin: 0 auto;
}
table,th,td{
	border: 1px solid #7CFC00;
}
td{
	height: 90px;
	font-size: 60px;
	text-align: right;
    background-color: #E0FFFF;
}
th{
	width: 90px;
	height: 70px;
	cursor: pointer;
	background-color: #B0E0E6;
}