/**{
	margin-top: 0px;
	margin-left: 0px;
}*/
.one {
	width: 1348px;
	height: 30px;
	background-color: black;
	margin-top: -12px;
    margin-left: -8px;
}
.nav1{
/*	width: 100px;*/
	/*height: 120px;*/
    list-style-type: none; 
    margin-left: 300px;
    float: left;
    color: white;
    margin-top: 2px;
    font-size: 12px;
    padding-top: 4px;
}

.nav2 {
	margin-right:280px;
	font-size: 12px;
	padding-top: 4px;

}
#a,#b,#c,#d,#e,#f,#g{
	float: right;
	list-style-type: none;
	color: white;
	margin-top: 2px;
	margin-right: 8px;
	
}
.two{
	width: 1348px;
	height: 3000px;
	background-color: white;
	margin-left: -8px;
}
.tu1 img{
	width: 1348px;
	height: 100px;
	margin-top: -9px;
	}
.three{
	width: 1348px;
	height: 30px;
	background-color: #1E90FF;
	margin-top: -20px;
}
.nav3{
	
	list-style-type: none;
}
#h,#i,#j,#k,#l,#m,#n{
	float: left;
    margin-left: 40px;
    padding-top: 8px;
    color: white;
    font-size: 13px;
}
#h{
	margin-left: 300px;
}

.tu2 img{
	width: 1348px;
}
.four{
	width: 650px;
	height: 45px;
	background-color: white;
	margin-left: 200px;
	margin-top: -20px;
}
#o,#p,#q,#r{
	float: left;
	list-style-type: none;
	font-size: 15px;
}
.nav4{
	margin-left: /*-15*/-40px;
	padding-top: 15px;
}
#o{
	margin-right: /*120*/190px;
	font-weight: bold;
}
#p{
	color: #A9A9A9;
}
.nav5{
	margin-left: /*230*/300px;
    margin-top: -16px;	
}
#q{
	margin-right: /*120*/190px;
	font-weight: bold;
}
#r{
	color: #A9A9A9;
}
.x1{
	width: 305px;
	height: 2px;
	float: left;
	position: relative;
	background-color: #DCDCDC;
	left: 200px;
	top: -10px;
}
.x2{
	width: 65px;
	height: 2px;
	background-color: #4169E1;
}
.y1{
	width: 305px;
	height: 2px;
	float: left;
	position: relative;
	background-color: #DCDCDC;
	top: -10px;
	left: 240px;
}
.y2{
	width: 65px;
	height: 2px;
	background-color: #4169E1;
}
.tu3{
	width: 305px;
	height: 400px;
	background-color:white;
	/*float: left;*/
	position: relative;
	left: 200px;
	font-size: 13px;
	color: #808080;
}
.tu3 img{
	width: 305px;
	margin-top: -2px;
}
.tu3 p{
	margin-top: -10px;
	margin-left: -15px;
}
.tu3 p img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 15px;
	margin-right: -5px;
}
.p1{
	padding-left: 20px;
	padding-top: 15px;
	font-weight: bold;
	font-size:20px;
}
.tu4{
	width: 305px;
	height: 400px;
	background-color: white;
	position: relative;
	left: 545px;
	top: -400px;
	font-size: 13px;
	color: #808080;
}
.tu4 img{
	width: 305px;
}
.tu4 p{
	margin-top: -12px;
	margin-left: -15px;
}
.tu4 p img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 15px;
	margin-right: -5px;
}
.p2{
	padding-left: 275px;
	padding-top: 34px;
}
.five{
	width: 650px;
	height: 2px;
	background-color: #A9A9A9;
	position: relative;
	top: -400px;
	left: 200px;
}
.six{
	height: 2px;
	width: 60px;
	background-color: #4169E1;
	position: relative;
	top: -402px;
	left: 200px;
}
.tu5{
	width: 650px;
	height: 500px;
	background-color: white;
	position: relative;
	top: -402px;
	left: 200px;
	padding-top:10px; 
	text-indent: 2em;
	line-height: 27px;
	font-size: 13px;
	color: #A9A9A9;
}
.p3{
	margin-top: 30px;
}

.p3 img{
	width: 305px;
	float: left;
	margin-top: -15px;
}
.p4{
	margin-top: -5px;

}
.seven{
	width: 305px;
	height: 900px;
	background-color: white;
	position: relative;
	top :-1359px;
	left: 890px;
}

#s{
	width: 146px;
	height: 38px;
	background-color: red;
	top: 8px;
	position: relative;
	padding-left:  10px;
	margin-top: -16px;
	color: white;
	font-weight: bold;
}
#s p{
	position: relative;
	top: 10px;
	left: 20px;
}
#s p img{
	position: relative;
	float: left;
	top: -10px;
	right: 5px;
}
.eight{
	width: 305px;
	height: 350px;
	border:#DCDCDC 2px solid;
	border-radius: 7px;
	position: relative;
	top: 10px;
}
#t{
	width: 146px;
	height: 38px;
	background-color: #6495ED;
	top: -42px;
	position: relative;
	float: right;
	color: white;
	font-weight: bold;

}
#t p{
	position: relative;
	top: -5px;
	left: 35px;
}
#t p img{
	position: relative;
	float: left;
	top: -6px;
	right: 6px;
}
.kuang{
	width: 300px;
	height: 300px;
/*	background-color: pink;*/
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.kuang input{
	width: 255px;
	height: 200px;
	background-color: white;
	position: relative;
	float: left;
	top: 20px;
	left: 22px;
	border-radius: 7px;
	border-width: 1px;
	border-color: #DCDCDC;
}
.anjian{
	position: relative;
	float: left;
	width: 150px;
	height: 35px;
	background-color: white;
	top: -45px;
	left: 80px;


}
.anjian button{
	background-color: red;
	width: 150px;
	height: 35px;
	border :none;
    border-radius: 7px;
    color: white;
    font-size: 18px;

}
.nine{
	width: 305px;
	height: 500px;
/*	background-color: pink;*/
	position: relative;
	top:30px;
	left: 2px;
}
#s1{
	margin-left: -150px;
	font-weight: bold;
}
#s2{
	margin-left: 160px;
	color: #A9A9A9;
}
.ten{
	width: 305px;
	height: 2px;
	background-color: #A9A9A9;
	position: relative;
	top: 4px;
}
.one1{
	width: 75px;
	height: 2px;
	background-color: #4169E1;
}
.p5{
	color: #808080;
}
.p6{
	color: #A9A9A9;
}
.p5,.p6{
	font-size: 12px;
	margin-left: 20px;
}
.two1 img{
	width: 100px;
	float: left;
	position: relative;
	left: -20px;
}
.p7{
	color:#808080;
}
.p8{
	color: #A9A9A9;
}
.p7,.p8{
	font-size: 12px;
	margin-left: 20px;
}
.three1 img{
	width: 100px;
	float: left;
	position: relative;
	left: -20px;
}
.p9{
	color: #808080;
}
.p10{
	color: #A9A9A9;
}
.p9,.p10{
	font-size: 12px;
	margin-left: 20px;
}
.four1 img{
	width: 100px;
	float: left;
	position: relative;
	left: -20px;
}
.p11{
	color: #808080;
}
.p12{
	color: #A9A9A9;
}
.p11,.p12{
	font-size: 12px;
	margin-left: 20px;
}
.five1 img{
	width: 100px;
	float: left;
	position: relative;
	left: -20px;
}
.six1{
	width: 999px;
	height: 2px;
	background-color: #4169E1;
	float: right;
	position: relative;
	top: -70px;
	left: 3px;

}
.nav6{
	width: 1000px;
	height: 50px;
	float: left;
	position: relative;
	/*background-color: red;*/
	left: -690px;
	top: -70px;
	padding-top: 20px;
	color: #A9A9A9;
	font-weight: bold;
}

.ul1{
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.ul1 li{
	display: inline;
	margin-left: 33px;
    
}

.seven1{
	width: 1000px;
	height: 2px;
	background-color: #DCDCDC;
	float: left;
	position: relative;
	left: -695px;
	top: -85px;
}
.eight2{
	width: 300px;
	height: 200px;
/*	background-color: pink;*/
	float: left;
	position: relative;
	left: -650px;
	top: -50px;
	color: #A9A9A9;
}
.eight2 p{
	font-size: 11px;
}
.tu6{
	position: relative;
	float: right;
	width: 200px;
	height: 200px;
	/*background-color: black;*/
	top: -250px;
	left: -100px;
}
 li:hover{
    background:red;
}
#s,#t:hover{
	background: red;
}